*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom Properties */
:root {
  --ff-primary: 'Source Sans Pro', sans-serif;
  --ff-secondary: 'Source Code Pro', monospace;
  --fw-reg: 300;
  --fw-bold: 900;
  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #16e0bd;
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, .15);
}




head{
  display: flex;
  justify-content: space-between;
  padding: 1em;

}




.nav{
  position: fixed;
  background: var(--clr-dark);
  color: var(--clr-light);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  transform: translateX(100%);
  transition: transform 250ms cubic-beizer(.5, 0, .5, 1);
}

.nav__list{
  width: 2543px;
  list-style: none;
  display:flex;
  height: 100%;
  flex-direction:column;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;

}

.nav__link{
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h2);
  text-decoration: none;
}

.nav__link:hover{
  color: var(--clr-accent);
}

.nav-toggle{
  padding: .5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position:absolute;
  right: 1em;
  top: 1em;
  z-index: 1000;
}

.nav-open .nav {
  transform: translateX(0);
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .hamburger{
  transform: rotate(.625turn);
}

.nav-open .hamburger::before{
  transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after{
  opacity: 0;
}



.hamburger{
  display: block;
  position:relative;
}
.hamburger,
.hamburger::before,
.hamburger::after{
  background: var(--clr-accent);
  width: 3em;
  height: 3px;
  border-radius: 4em;
  transition: transform 250ms ease-in-out;
}


.hamburger::before,
.hamburger::after{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before{top: 8px;}
.hamburger::after{bottom: 8px;}





body{
  font-family: "Montserrat";
  text-align: center;
  background-color: #29293d ;
  align-items:center ;

}

h1, h2, h3, h4 {
  font-family: "Montserrat-Bold";

}

p{
  color: #8f8f8f;
}

/* Heading */

.big-heading{
  font-family: "Montserrat-Black";
  font-size: 4rem;
  line-height: 1.5;
  font-weight: bold;

}

.section-heading{
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 10% 15%;


}

.nextlevel{

}


/* Sections */
.colored-section{

  background-color:#29293d;
  color: #fff;


}

.white-section{
  background-color: #fff;
}



/* Navigation Bar */

.navbar{
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Downloads Buttons */
.download-button{
  margin: 5% 3% 5% 0;
}

/* Tittle Section */

#title .container-fluid{
  padding: 3% 15% 7%;
  text-align: left;

}



/* Title-Image */

.title-image{
width: 50%;

position: absolute;
left: 48%;




}

/* Features Section */

#features {


  position: relative;

}

.feature-title{
  font-size: 1.5rem;
}

.feature-box {

  padding: 5%;
}

.icon {
  color: #7575a3;
  margin-bottom: 1rem;
}

.icon:hover{
  color: ##ff8533;
}

/* <!-- Testimonials --> */
#testimonials {
  background-color:#7575a3;


}

.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}




#press{
  background-color:#7575a3;

  padding-bottom: 3%;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Sections */
#pricing {
  padding: 100px;

}

.price-text{
  font-size: 3rem;
  line-height: 1.5;
}


.pricing-column{
  padding: 3% 2%;
}

/* CTA Section */

/* Footer Section */


.social-icon{
  margin: 20px 10px;
}

@media (max-width: 987px){

#title{
  text-align: center;
}


  .title-image {
    position: static;
    transform: rotate(0);
  }
}


@media (min-width: 1920px){
  .container-fluid {
    padding: 3% 15% 15%;
      background-image: url(img/work2.png);
  }
}
